<h1>Editing medusa_premis_event</h1>

<%= render 'form' %>

<%= link_to 'Back to Record', catalog_path(@medusa_premis_event) %> |
<%= link_back_to_catalog(:label=>'Back to Search') %> |
<%= link_to 'Quick View of all Medusa Premis Events Records', medusa_premis_events_path %>
