<h1>Editing medusa_premis_file_object</h1>

<%= render 'form' %>

<%= link_to 'Back to Record', catalog_path(@medusa_premis_file_object) %> |
<%= link_back_to_catalog(:label=>'Back to Search') %> |
<%= link_to 'Quick View of all Medusa Premis File Object Records', medusa_premis_file_objects_path %>
