<h1>Editing medusa_premis_agent</h1>

<%= render 'form' %>

<%= link_to 'Back to Record', catalog_path(@medusa_premis_agent) %> |
<%= link_back_to_catalog(:label=>'Back to Search') %> |
<%= link_to 'Quick View of all Medusa Premis Agents Records', medusa_premis_agents_path %>
