<h1>Editing medusa_premis_representation_object</h1>

<%= render 'form' %>

<%= link_to 'Back to Record', catalog_path(@medusa_premis_representation_object) %> |
<%= link_back_to_catalog(:label=>'Back to Search') %> |
<%= link_to 'Quick View of all Medusa Premis Representation Object Records', medusa_premis_representation_objects_path %>
